{% extends 'generator/layout.html'%}

{% block content %}


<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fugiat harum facilis, dignissimos necessitatibus pariatur doloribus et, ullam eum voluptatum ut iste sed quasi tempore impedit neque odio, facere veritatis. Dolores quas omnis id enim quia, vitae amet nihil totam praesentium itaque, error cum ex saepe iusto dolor! Quasi, laborum cum eaque nesciunt tempora porro iste deserunt reiciendis placeat quaerat eveniet et vel ab blanditiis praesentium illo. Ducimus illum porro doloribus quidem error eligendi dolorum animi distinctio neque quia cupiditate aliquam, laboriosam nam obcaecati, dolore quibusdam necessitatibus. Eum similique iste, voluptatum sint corrupti ullam quo temporibus maiores expedita, ad facilis.</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste omnis tenetur rerum eius a nam minima, veniam voluptatum ea, deserunt illo neque quibusdam facilis, incidunt cum harum porro libero cumque.</p>

{% endblock %}